<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util-3.0.xsd 
						http://www.springframework.org/schema/task 
						http://www.springframework.org/schema/task/spring-task-3.0.xsd"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util">

	<bean id="prop" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">    
        <property name="locations" value="classpath:conf/mango.properties"/>    
        <property name="fileEncoding" value="UTF-8"/>
    </bean>
  
   	<bean id="runtimeProperties" class="org.apache.commons.configuration.PropertiesConfiguration">            
   		<constructor-arg type="java.lang.String"  value="conf/mango.properties" />
      	<property name="reloadingStrategy" ref="reloadingStrategy" />
	</bean>
    <bean id="reloadingStrategy" class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy" />  

</beans>
